@media only screen and (max-width: 1199px) {
  #header .pagebanner .owl-carousel .owl-item .homepagetext {
    max-width: 940px; }
  .paragraph--type--wunderman-address {
    width: 90%; }
    .paragraph--type--wunderman-address .field--name-field-body {
      text-align: left; }
  .paragraph--type--wunderman-gallery .field--name-field-image {
    margin: auto;
    width: 629px; }
    .paragraph--type--wunderman-gallery .field--name-field-image .field--item {
      width: 32.6%; } }

@media only screen and (max-width: 991px) {
  #header .pagebanner .owl-carousel .owl-item {
    height: 367px; }
    #header .pagebanner .owl-carousel .owl-item img {
      max-width: 150%; }
    #header .pagebanner .owl-carousel .owl-item .homepagetext {
      max-width: 720px;
      padding-top: 60px; }
  .paragraph--type--wunderman-image-and-text {
    padding: 60px 0; }
    .paragraph--type--wunderman-image-and-text .field--name-field-body ul {
      font-size: 16px; }
  .paragraph--type--wunderman-gallery {
    padding: 60px 15px; }
    .paragraph--type--wunderman-gallery .field--name-field-image {
      width: 705px; }
  .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item {
    width: 100%; }
    .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item .paragraph--type--wunderman-text-only .field--name-field-content {
      padding: 0px 0px 30px 30px; }
  .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item:nth-child(2n), .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item:nth-child(3n) {
    width: 50%; }
  .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item:nth-child(4n) {
    width: 100%; }
  .paragraph--type--wunderman-address {
    padding: 40px 0;
    width: 100%; }
  .paragraph--type--wunderman-contact {
    padding: 90px; } }

@media only screen and (max-width: 768px) {
  #header .pagebanner .owl-carousel .owl-item {
    height: 300px; }
    #header .pagebanner .owl-carousel .owl-item img {
      max-width: 170%; }
    #header .pagebanner .owl-carousel .owl-item .homepagetext {
      max-width: 100%;
      padding: 20px;
      padding-top: 73px; }
      #header .pagebanner .owl-carousel .owl-item .homepagetext .fontthin {
        font-size: 18px; }
  #header .pagebanner .basic-banner {
    overflow: hidden; }
    #header .pagebanner .basic-banner img {
      max-width: 130%; }
  .paragraph--type--wunderman-image-and-text {
    padding: 40px 0; }
    .paragraph--type--wunderman-image-and-text .field--item {
      width: 100%;
      padding: 15px 0; }
    .paragraph--type--wunderman-image-and-text .field--name-field-image, .paragraph--type--wunderman-image-and-text .field--name-field-body {
      width: 100%; }
      .paragraph--type--wunderman-image-and-text .field--name-field-image ul, .paragraph--type--wunderman-image-and-text .field--name-field-body ul {
        font-size: 18px;
        position: relative; }
  .paragraph--type--wunderman-gallery {
    padding: 40px 9px; }
    .paragraph--type--wunderman-gallery .field--name-field-image {
      width: 438px; }
      .paragraph--type--wunderman-gallery .field--name-field-image .field--item {
        width: 49%; }
  .paragraph--type--wunderman-service-wrappers {
    padding: 25px 0px 40px; }
    .paragraph--type--wunderman-service-wrappers .field--name-field-services .field--item {
      width: 100%;
      margin: 10px 0; }
  .paragraph--type--wunderman-packages {
    padding: 40px 0px; }
    .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item:nth-child(2n), .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item:nth-child(3n) {
      width: 100%; }
  .paragraph--type--wunderman-address .field--name-field-body, .paragraph--type--wunderman-address .field--name-field-content {
    width: 100%;
    text-align: center;
    padding-bottom: 30px; }
  .paragraph--type--wunderman-contact {
    padding: 40px 0px; }
  section.module.parallax .field--name-field-the-current-page-paralex {
    padding: 50px 0;
    font-size: 18px; } }

@media only screen and (max-width: 767px) {
  #header .logo-nav header .logo {
    z-index: 999;
    width: 120px; }
  #header .logo-nav header .miannev {
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0; }
    #header .logo-nav header .miannev .navbar-toggle {
      border-color: #fff;
      margin-right: 30px; }
      #header .logo-nav header .miannev .navbar-toggle .icon-bar {
        background-color: #fff; }
    #header .logo-nav header .miannev .navbar-toggle:hover {
      background-color: transparent; }
    #header .logo-nav header .miannev .navbar-collapse {
      background-color: #101820ff;
      padding: 15px; }
      #header .logo-nav header .miannev .navbar-collapse .navbar-nav {
        float: left; } }

@media only screen and (max-width: 500px) {
  #header .pagebanner .owl-carousel .owl-item {
    height: 260px; }
    #header .pagebanner .owl-carousel .owl-item img {
      max-width: 200%; }
    #header .pagebanner .owl-carousel .owl-item .homepagetext {
      max-width: 100%;
      padding: 100px 20px 0px; }
      #header .pagebanner .owl-carousel .owl-item .homepagetext .fontthin {
        display: none; }
  #header .pagebanner .basic-banner img {
    max-width: 250%;
    margin-left: -100%; }
  .paragraph--type--wunderman-image-and-text .field--name-field-description {
    font-size: 18px; }
  .paragraph--type--wunderman-image-and-text .field--name-field-body ul {
    font-size: 16px; }
  .paragraph--type--wunderman-gallery {
    padding: 40px 0px; }
    .paragraph--type--wunderman-gallery .field--name-field-image {
      width: 100%; }
      .paragraph--type--wunderman-gallery .field--name-field-image .field--item {
        width: 100%;
        margin: 0px 0px 5px; }
        .paragraph--type--wunderman-gallery .field--name-field-image .field--item img {
          width: 100%; } }
