body {
  margin-top: 0px;
  font-family: 'robotoregular',Helvetica,Arial,sans-serif; }
  body h1, body h2 {
    font-family: 'robotobold',Helvetica,Arial,sans-serif;
    font-weight: bold; }
  body h3, body h4 {
    font-family: 'robotomedium',Helvetica,Arial,sans-serif;
    font-weight: bold; }
  body .fontlight {
    font-family: 'robotolight',Helvetica,Arial,sans-serif; }
  body .fontthin {
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 100; }

.path-user {
  padding-top: 100px; }
  .path-user .user-login-form {
    padding: 40px 0; }

#header .logo-nav {
  padding: 12px 0;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #101820ff; }
  #header .logo-nav header {
    margin-bottom: 0;
    background: transparent;
    border: none; }
    #header .logo-nav header .logo img {
      width: 91px; }
    #header .logo-nav header .miannev {
      padding: 0; }
      #header .logo-nav header .miannev .navbar-nav {
        float: right;
        margin: 0; }
        #header .logo-nav header .miannev .navbar-nav li a {
          color: #fff;
          text-transform: uppercase; }
        #header .logo-nav header .miannev .navbar-nav li a:hover {
          color: #555; }
        #header .logo-nav header .miannev .navbar-nav li.active a {
          background-color: transparent;
          color: #555; }

#header .pagebanner {
  position: relative; }
  #header .pagebanner .basicpagetext {
    color: #101820ff; }
  #header .pagebanner .owl-carousel {
    display: block; }
    #header .pagebanner .owl-carousel .owl-item .homepagetext {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 1140px;
      max-height: 300px;
      color: #FFF;
      padding-top: 15px; }
    #header .pagebanner .owl-carousel .owl-controls {
      margin-top: 0;
      text-align: center;
      position: absolute;
      width: 100%;
      bottom: 10px; }

.paragraph--type--wunderman-image-and-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 90px 0; }
  .paragraph--type--wunderman-image-and-text .field--item {
    width: 100%;
    text-align: center;
    padding: 15px; }
  .paragraph--type--wunderman-image-and-text .field--name-field-heading {
    font-size: 35px; }
  .paragraph--type--wunderman-image-and-text .field--name-field-description {
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 20px; }
  .paragraph--type--wunderman-image-and-text .field--name-field-image, .paragraph--type--wunderman-image-and-text .field--name-field-body {
    width: 50%;
    text-align: left;
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    position: relative; }
    .paragraph--type--wunderman-image-and-text .field--name-field-image img, .paragraph--type--wunderman-image-and-text .field--name-field-body img {
      width: 100%; }
    .paragraph--type--wunderman-image-and-text .field--name-field-image ul, .paragraph--type--wunderman-image-and-text .field--name-field-body ul {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      width: 100%;
      line-height: 40px;
      font-family: 'robotothin',Helvetica,Arial,sans-serif;
      font-size: 18px;
      font-weight: lighter; }

.paragraph--type--wunderman-gallery {
  padding: 90px 0; }
  .paragraph--type--wunderman-gallery .field--name-field-image {
    overflow: auto; }
    .paragraph--type--wunderman-gallery .field--name-field-image .field--item {
      float: left;
      width: 32.8%;
      margin: 2px; }
    .paragraph--type--wunderman-gallery .field--name-field-image .field--item:hover {
      opacity: 70%; }

.fullcontent .block article h2, .content-two .block article h2, .parallax .block article h2 {
  display: none; }

.fullcontent {
  background-color: #eff2f6; }

.paragraph--type--wunderman-service-wrappers {
  padding: 90px 0; }
  .paragraph--type--wunderman-service-wrappers .field--name-field-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .paragraph--type--wunderman-service-wrappers .field--name-field-services .field--item {
      width: 32%;
      position: relative; }
      .paragraph--type--wunderman-service-wrappers .field--name-field-services .field--item .paragraph--type--wunderman-service-showcase .field--item {
        width: 100%; }
        .paragraph--type--wunderman-service-wrappers .field--name-field-services .field--item .paragraph--type--wunderman-service-showcase .field--item img {
          width: 100%; }
      .paragraph--type--wunderman-service-wrappers .field--name-field-services .field--item .paragraph--type--wunderman-service-showcase .field--name-field-service {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: #fff;
        width: 100%;
        padding: 50% 0 40px;
        margin: 0;
        background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black 93%);
        font-weight: bold;
        font-size: 20px; }

.paragraph--type--wunderman-packages {
  padding: 60px 0; }
  .paragraph--type--wunderman-packages .field--name-field-component-packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item {
      width: 50%;
      position: relative; }
      .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item .paragraph--type--wunderman-image-only .field--item {
        padding: 0;
        width: 100%; }
        .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item .paragraph--type--wunderman-image-only .field--item img {
          width: 100%; }
      .paragraph--type--wunderman-packages .field--name-field-component-packages .field--item .paragraph--type--wunderman-text-only .field--name-field-content {
        padding: 40px 0px 0px 60px;
        width: 100%; }

section.module.parallax {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  background-position: 100% 0; }
  section.module.parallax .field--name-field-the-current-page-paralex {
    padding: 100px 0;
    font-size: 25px;
    font-weight: lighter;
    color: #fff; }

.paragraph--type--wunderman-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  width: 68%;
  margin: auto; }
  .paragraph--type--wunderman-address .field--name-field-body {
    width: 50%;
    text-align: right; }

.paragraph--type--wunderman-contact {
  padding: 60px 0; }
  .paragraph--type--wunderman-contact label {
    font-weight: 400;
    text-transform: uppercase; }
  .paragraph--type--wunderman-contact .form-control {
    width: 100% !important;
    border: 1px solid #fff;
    border-radius: 1px;
    background-color: transparent; }
  .paragraph--type--wunderman-contact .btn-primary {
    background-color: #dd8a0d;
    border-color: #dd8a0d;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 30px; }

footer {
  background-color: #101820ff; }
  footer .footerinfo {
    color: #86919e; }
    footer .footerinfo .region-footer {
      margin: 15px 0; }
  footer .copyright {
    background-color: #000;
    color: #fff;
    padding: 20px 0; }
