.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.messages.messages--info{color:#31708f;border-color:#0074bd #0074bd #0074bd transparent;background-color:#d9edf7;background-image:url(/modules/contrib/webform/images/icons/info.svg);background-repeat:no-repeat;background-position:10px 17px;box-shadow:-8px 0 0 #0074bd;}[dir="rtl"] .messages.messages--info{margin-left:0;border-color:#0074bd transparent #0074bd #0074bd;box-shadow:8px 0 0 #0074bd;}.webform-message--close .messages{position:relative;}.webform-message--close .messages{padding-right:35px;}.webform-message--close .webform-message__link{display:none;}html.js .webform-message--close .webform-message__link{position:absolute;top:11px;right:10px;display:block;font-size:24px;line-height:24px;}html[dir="rtl"].js .webform-message--close .webform-message__link{top:11px;right:inherit;left:10px;}.webform-message__link{opacity:0.33;color:inherit;}.webform-message__link:link{text-decoration:none;border-bottom:none;}.webform-message__link:hover,.webform-message__link:focus,.webform-message__link:active{text-decoration:none;opacity:1;color:inherit;border-bottom:none;}html.js .js-webform-message--close-storage{display:none;}
.webform-flex--container .form-inline .form-control{width:100%;}.form-composite legend{font-size:1em;font-weight:bold;border:none;margin:0;}.webform-element--title-inline > div{display:inline;}.webform-element--title-inline .form-control,.webform-element--title-inline .select-wrapper{display:inline;width:inherit;}.form-composite.webform-fieldset--title-inline legend{float:left;width:auto;font-size:1em;font-weight:bold;border:none;margin:10px 0.5em 10px 0;}@media (max-width:768px){.webform-likert-help.hidden{display:inline !important;}.webform-likert-description.hidden{display:block !important;}}html.js .form-type-webform-image-select .select-wrapper:after{display:none;}@media only screen and (max-width:650px){.webform-confirmation-modal{width:90% !important;}}.alert a.btn,.alert a.btn:hover,.alert a.btn:focus,.ui-widget-content a.btn{color:#fff;}
.webform-confirmation__message,.webform-confirmation__back{margin:0 0 1em 0;}
