body{margin-top:0}#header .logo-nav{padding:12px 0;position:fixed;top:0;z-index:99;width:100%;background-color:#b34700}#header .logo-nav header{margin-bottom:0;background:0 0;border:none}#header .logo-nav header .navbar-nav{float:right;margin:0}#header .logo-nav header .navbar-nav li a{color:#fff;text-transform:uppercase}#header .logo-nav header .navbar-nav li a:hover{color:#3b1800}#header .pagebanner .owl-carousel{display:block}
