.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none;}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.quickedit-editable{position:relative;z-index:98;cursor:pointer;}.quickedit-editable:focus{outline:none;}.quickedit-editable.quickedit-highlighted{z-index:99;}.quickedit-validation-errors > .messages{margin-right:0;margin-left:0;}.quickedit-validation-errors > .messages > ul{margin:0;padding:0;list-style:none;}.quickedit-validation-errors{position:relative;z-index:300;}.quickedit-validation-errors .messages.error{position:absolute;top:6px;left:-5px;margin:0;border:none;}[dir="rtl"] .quickedit-validation-errors .messages.error{right:-5px;left:auto;}#quickedit_backstage{display:none;}.quickedit-form{position:absolute;z-index:300;max-width:35em;}.quickedit-form .placeholder{min-height:22px;}.quickedit-form .form-wrapper .form-wrapper{margin:inherit;}.quickedit-form .form-actions{display:none;}.quickedit-form input{max-width:100%;}.quickedit-toolbar-container{position:absolute;z-index:100;width:320px;max-width:320px;}.quickedit-toolbar-container > .quickedit-toolbar-pointer,.quickedit-toolbar-container > .quickedit-toolbar-lining{display:none;}.quickedit-form-container{position:relative;z-index:100;margin:0;padding:0;vertical-align:baseline;border:0;}.quickedit-toolgroup.ops{float:right;}[dir="rtl"] .quickedit-toolgroup.ops{float:left;}.quickedit-toolbar-label{overflow:hidden;}#quickedit-toolbar-fence{position:fixed;z-index:-1;top:0;right:0;bottom:0;left:0;}
.views-align-left{text-align:left;}.views-align-right{text-align:right;}.views-align-center{text-align:center;}.views-view-grid .views-col{float:left;}.views-view-grid .views-row{float:left;clear:both;width:100%;}.views-display-link + .views-display-link{margin-left:0.5em;}
.contextual{position:absolute;z-index:500;top:6px;right:0;}[dir="rtl"] .contextual{right:auto;left:0;}.contextual-region.focus{outline:1px dashed #d6d6d6;outline-offset:1px;}.contextual .trigger{position:relative;right:6px;float:right;overflow:hidden;margin:0;padding:0 2px;cursor:pointer;border:1px solid #ccc;border-radius:13px;background-color:#fff;background-attachment:scroll;}[dir="rtl"] .contextual .trigger{right:auto;left:6px;float:left;}.contextual.open .trigger{z-index:2;border:1px solid #ccc;border-bottom-color:transparent;border-radius:13px 13px 0 0;box-shadow:none;}.contextual-region .contextual .contextual-links{position:relative;top:-1px;right:6px;float:right;clear:both;margin:0;padding:0.25em 0;text-align:left;white-space:nowrap;border:1px solid #ccc;border-radius:4px 0 4px 4px;background-color:#fff;}[dir="rtl"] .contextual-region .contextual .contextual-links{right:auto;left:6px;float:left;text-align:right;border-radius:0 4px 4px 4px;}.contextual-region .contextual .contextual-links li{margin:0;padding:0;list-style:none;list-style-image:none;border:none;background-color:#fff;line-height:100%;}.contextual-region .contextual .contextual-links a{display:block;margin:0.25em 0;padding:0.4em 0.6em;color:#333;background-color:#fff;font-family:sans-serif;font-size:small;line-height:0.8em;}.touchevents .contextual-region .contextual .contextual-links a{font-size:large;}.contextual-region .contextual .contextual-links a,.contextual-region .contextual .contextual-links a:hover{text-decoration:none;}.no-touchevents .contextual-region .contextual .contextual-links li a:hover{color:#000;background:#f7fcff;}
.toolbar-bar .toolbar-icon-edit:before{background-image:url(/core/misc/icons/bebebe/pencil.svg);}.toolbar-bar .toolbar-icon-edit:active:before,.toolbar-bar .toolbar-icon-edit.is-active:before{background-image:url(/core/misc/icons/ffffff/pencil.svg);}.contextual .trigger{width:26px !important;height:26px !important;text-indent:-9999px;background-image:url(/core/misc/icons/bebebe/pencil.svg);background-repeat:no-repeat;background-position:center center;background-size:16px 16px;}.contextual .trigger:hover{background-image:url(/core/misc/icons/787878/pencil.svg);}.contextual .trigger:focus{outline:none;background-image:url(/core/misc/icons/5181c6/pencil.svg);}
.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em;}.ui-widget .ui-widget{font-size:1em;}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em;}.ui-widget.ui-widget-content{border:1px solid #c5c5c5;}.ui-widget-content{border:1px solid #dddddd;background:#ffffff;color:#333333;}.ui-widget-content a{color:#333333;}.ui-widget-header{border:1px solid #dddddd;background:#e9e9e9;color:#333333;font-weight:bold;}.ui-widget-header a{color:#333333;}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button,.ui-button{color:#454545;text-decoration:none;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{border:1px solid #cccccc;background:#ededed;font-weight:normal;color:#2b2b2b;}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{color:#2b2b2b;text-decoration:none;}.ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214);}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#ffffff;}.ui-icon-background,.ui-state-active .ui-icon-background{border:#003eff;background-color:#ffffff;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#ffffff;text-decoration:none;}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620;}.ui-state-checked{border:1px solid #dad55e;background:#fffa90;}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620;}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f;}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f;}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f;}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold;}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35);}.ui-icon{width:16px;height:16px;}.ui-icon,.ui-widget-content .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png);}.ui-widget-header .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png);}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_555555_256x240.png);}.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_ffffff_256x240.png);}.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777620_256x240.png);}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_cc0000_256x240.png);}.ui-button .ui-icon{background-image:url(/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png);}.ui-icon-blank{background-position:16px 16px;}.ui-icon-caret-1-n{background-position:0 0;}.ui-icon-caret-1-ne{background-position:-16px 0;}.ui-icon-caret-1-e{background-position:-32px 0;}.ui-icon-caret-1-se{background-position:-48px 0;}.ui-icon-caret-1-s{background-position:-65px 0;}.ui-icon-caret-1-sw{background-position:-80px 0;}.ui-icon-caret-1-w{background-position:-96px 0;}.ui-icon-caret-1-nw{background-position:-112px 0;}.ui-icon-caret-2-n-s{background-position:-128px 0;}.ui-icon-caret-2-e-w{background-position:-144px 0;}.ui-icon-triangle-1-n{background-position:0 -16px;}.ui-icon-triangle-1-ne{background-position:-16px -16px;}.ui-icon-triangle-1-e{background-position:-32px -16px;}.ui-icon-triangle-1-se{background-position:-48px -16px;}.ui-icon-triangle-1-s{background-position:-65px -16px;}.ui-icon-triangle-1-sw{background-position:-80px -16px;}.ui-icon-triangle-1-w{background-position:-96px -16px;}.ui-icon-triangle-1-nw{background-position:-112px -16px;}.ui-icon-triangle-2-n-s{background-position:-128px -16px;}.ui-icon-triangle-2-e-w{background-position:-144px -16px;}.ui-icon-arrow-1-n{background-position:0 -32px;}.ui-icon-arrow-1-ne{background-position:-16px -32px;}.ui-icon-arrow-1-e{background-position:-32px -32px;}.ui-icon-arrow-1-se{background-position:-48px -32px;}.ui-icon-arrow-1-s{background-position:-65px -32px;}.ui-icon-arrow-1-sw{background-position:-80px -32px;}.ui-icon-arrow-1-w{background-position:-96px -32px;}.ui-icon-arrow-1-nw{background-position:-112px -32px;}.ui-icon-arrow-2-n-s{background-position:-128px -32px;}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}.ui-icon-arrow-2-e-w{background-position:-160px -32px;}.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}.ui-icon-arrowstop-1-n{background-position:-192px -32px;}.ui-icon-arrowstop-1-e{background-position:-208px -32px;}.ui-icon-arrowstop-1-s{background-position:-224px -32px;}.ui-icon-arrowstop-1-w{background-position:-240px -32px;}.ui-icon-arrowthick-1-n{background-position:1px -48px;}.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}.ui-icon-arrowthick-1-e{background-position:-32px -48px;}.ui-icon-arrowthick-1-se{background-position:-48px -48px;}.ui-icon-arrowthick-1-s{background-position:-64px -48px;}.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}.ui-icon-arrowthick-1-w{background-position:-96px -48px;}.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}.ui-icon-arrow-4{background-position:0 -80px;}.ui-icon-arrow-4-diag{background-position:-16px -80px;}.ui-icon-extlink{background-position:-32px -80px;}.ui-icon-newwin{background-position:-48px -80px;}.ui-icon-refresh{background-position:-64px -80px;}.ui-icon-shuffle{background-position:-80px -80px;}.ui-icon-transfer-e-w{background-position:-96px -80px;}.ui-icon-transferthick-e-w{background-position:-112px -80px;}.ui-icon-folder-collapsed{background-position:0 -96px;}.ui-icon-folder-open{background-position:-16px -96px;}.ui-icon-document{background-position:-32px -96px;}.ui-icon-document-b{background-position:-48px -96px;}.ui-icon-note{background-position:-64px -96px;}.ui-icon-mail-closed{background-position:-80px -96px;}.ui-icon-mail-open{background-position:-96px -96px;}.ui-icon-suitcase{background-position:-112px -96px;}.ui-icon-comment{background-position:-128px -96px;}.ui-icon-person{background-position:-144px -96px;}.ui-icon-print{background-position:-160px -96px;}.ui-icon-trash{background-position:-176px -96px;}.ui-icon-locked{background-position:-192px -96px;}.ui-icon-unlocked{background-position:-208px -96px;}.ui-icon-bookmark{background-position:-224px -96px;}.ui-icon-tag{background-position:-240px -96px;}.ui-icon-home{background-position:0 -112px;}.ui-icon-flag{background-position:-16px -112px;}.ui-icon-calendar{background-position:-32px -112px;}.ui-icon-cart{background-position:-48px -112px;}.ui-icon-pencil{background-position:-64px -112px;}.ui-icon-clock{background-position:-80px -112px;}.ui-icon-disk{background-position:-96px -112px;}.ui-icon-calculator{background-position:-112px -112px;}.ui-icon-zoomin{background-position:-128px -112px;}.ui-icon-zoomout{background-position:-144px -112px;}.ui-icon-search{background-position:-160px -112px;}.ui-icon-wrench{background-position:-176px -112px;}.ui-icon-gear{background-position:-192px -112px;}.ui-icon-heart{background-position:-208px -112px;}.ui-icon-star{background-position:-224px -112px;}.ui-icon-link{background-position:-240px -112px;}.ui-icon-cancel{background-position:0 -128px;}.ui-icon-plus{background-position:-16px -128px;}.ui-icon-plusthick{background-position:-32px -128px;}.ui-icon-minus{background-position:-48px -128px;}.ui-icon-minusthick{background-position:-64px -128px;}.ui-icon-close{background-position:-80px -128px;}.ui-icon-closethick{background-position:-96px -128px;}.ui-icon-key{background-position:-112px -128px;}.ui-icon-lightbulb{background-position:-128px -128px;}.ui-icon-scissors{background-position:-144px -128px;}.ui-icon-clipboard{background-position:-160px -128px;}.ui-icon-copy{background-position:-176px -128px;}.ui-icon-contact{background-position:-192px -128px;}.ui-icon-image{background-position:-208px -128px;}.ui-icon-video{background-position:-224px -128px;}.ui-icon-script{background-position:-240px -128px;}.ui-icon-alert{background-position:0 -144px;}.ui-icon-info{background-position:-16px -144px;}.ui-icon-notice{background-position:-32px -144px;}.ui-icon-help{background-position:-48px -144px;}.ui-icon-check{background-position:-64px -144px;}.ui-icon-bullet{background-position:-80px -144px;}.ui-icon-radio-on{background-position:-96px -144px;}.ui-icon-radio-off{background-position:-112px -144px;}.ui-icon-pin-w{background-position:-128px -144px;}.ui-icon-pin-s{background-position:-144px -144px;}.ui-icon-play{background-position:0 -160px;}.ui-icon-pause{background-position:-16px -160px;}.ui-icon-seek-next{background-position:-32px -160px;}.ui-icon-seek-prev{background-position:-48px -160px;}.ui-icon-seek-end{background-position:-64px -160px;}.ui-icon-seek-start{background-position:-80px -160px;}.ui-icon-seek-first{background-position:-80px -160px;}.ui-icon-stop{background-position:-96px -160px;}.ui-icon-eject{background-position:-112px -160px;}.ui-icon-volume-off{background-position:-128px -160px;}.ui-icon-volume-on{background-position:-144px -160px;}.ui-icon-power{background-position:0 -176px;}.ui-icon-signal-diag{background-position:-16px -176px;}.ui-icon-signal{background-position:-32px -176px;}.ui-icon-battery-0{background-position:-48px -176px;}.ui-icon-battery-1{background-position:-64px -176px;}.ui-icon-battery-2{background-position:-80px -176px;}.ui-icon-battery-3{background-position:-96px -176px;}.ui-icon-circle-plus{background-position:0 -192px;}.ui-icon-circle-minus{background-position:-16px -192px;}.ui-icon-circle-close{background-position:-32px -192px;}.ui-icon-circle-triangle-e{background-position:-48px -192px;}.ui-icon-circle-triangle-s{background-position:-64px -192px;}.ui-icon-circle-triangle-w{background-position:-80px -192px;}.ui-icon-circle-triangle-n{background-position:-96px -192px;}.ui-icon-circle-arrow-e{background-position:-112px -192px;}.ui-icon-circle-arrow-s{background-position:-128px -192px;}.ui-icon-circle-arrow-w{background-position:-144px -192px;}.ui-icon-circle-arrow-n{background-position:-160px -192px;}.ui-icon-circle-zoomin{background-position:-176px -192px;}.ui-icon-circle-zoomout{background-position:-192px -192px;}.ui-icon-circle-check{background-position:-208px -192px;}.ui-icon-circlesmall-plus{background-position:0 -208px;}.ui-icon-circlesmall-minus{background-position:-16px -208px;}.ui-icon-circlesmall-close{background-position:-32px -208px;}.ui-icon-squaresmall-plus{background-position:-48px -208px;}.ui-icon-squaresmall-minus{background-position:-64px -208px;}.ui-icon-squaresmall-close{background-position:-80px -208px;}.ui-icon-grip-dotted-vertical{background-position:0 -224px;}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}.ui-icon-grip-solid-vertical{background-position:-32px -224px;}.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}.ui-icon-grip-diagonal-se{background-position:-80px -224px;}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px;}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px;}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px;}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px;}.ui-widget-overlay{background:#aaaaaa;opacity:.3;filter:Alpha(Opacity=30);}.ui-widget-shadow{-webkit-box-shadow:0 0 5px #666666;box-shadow:0 0 5px #666666;}
.quickedit-field.quickedit-editable,.quickedit-field .quickedit-editable{box-shadow:0 0 0 2px #74b7ff;}.quickedit-field.quickedit-highlighted,.quickedit-form.quickedit-highlighted,.quickedit-field .quickedit-highlighted{box-shadow:0 0 0 1px #74b7ff,0 0 0 2px #007fff;}.quickedit-field.quickedit-changed,.quickedit-form.quickedit-changed,.quickedit-field .quickedit-changed{box-shadow:0 0 0 1px #fec17e,0 0 0 2px #f7870a;}.quickedit-editing.quickedit-validation-error,.quickedit-form.quickedit-validation-error{box-shadow:0 0 0 1px #ee8b74,0 0 0 2px #fa2209;}.quickedit-editing.quickedit-editor-is-popup{box-shadow:none;}.quickedit-form .form-item .error{border:1px solid #eea0a0;}.quickedit-form form{padding:0.5em;}.quickedit-form .form-item{margin:0;}.quickedit-form .form-wrapper{margin:0.5em;}.quickedit-animate-invisible{opacity:0;}.quickedit-animate-default{-webkit-transition:all 0.4s ease;transition:all 0.4s ease;}.quickedit-animate-slow{-webkit-transition:all 0.6s ease;transition:all 0.6s ease;}.quickedit-animate-delay-veryfast{-webkit-transition-delay:0.05s;transition-delay:0.05s;}.quickedit-animate-delay-fast{-webkit-transition-delay:0.2s;transition-delay:0.2s;}.quickedit-animate-disable-width{-webkit-transition:width 0s;transition:width 0s;}.quickedit-animate-only-visibility{-webkit-transition:opacity 0.2s ease;transition:opacity 0.2s ease;}.quickedit-validation-errors .messages.error{background-color:white;box-shadow:0 0 1px 1px red,0 0 3px 3px rgba(153,153,153,0.5);}.quickedit-form{background-color:white;box-shadow:0 0 30px 4px #4f4f4f;}.quickedit-toolbar-container{padding-top:7px;padding-bottom:7px;-webkit-transition:all 1s;transition:all 1s;font-family:"Source Sans Pro","Lucida Grande",sans-serif;}.quickedit-toolbar-container > .quickedit-toolbar-content{position:relative;z-index:2;box-sizing:border-box;padding:0.1667em;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:black;background-image:-webkit-linear-gradient(top,#fff,#e4e4e4);background-image:linear-gradient(to bottom,#fff,#e4e4e4);}.quickedit-toolbar-container > .quickedit-toolbar-pointer{position:absolute;z-index:1;bottom:2px;left:18px;display:block;width:16px;height:16px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);background-color:#e4e4e4;box-shadow:0 0 0 1px #818181,0 0 0 4px rgba(150,150,150,0.5);}[dir="rtl"] .quickedit-toolbar-container > .quickedit-toolbar-pointer{right:18px;left:auto;}.quickedit-toolbar-container.quickedit-toolbar-pointer-top > .quickedit-toolbar-pointer{top:2px;bottom:auto;}.quickedit-toolbar-container > .quickedit-toolbar-lining{position:absolute;z-index:0;top:7px;right:0;bottom:7px;left:0;display:block;box-shadow:0 0 0 1px #818181,0 3px 0 1px rgba(150,150,150,0.5);}.quickedit-toolbar-label{overflow:hidden;padding:0.333em 0.4em;white-space:nowrap;text-overflow:ellipsis;font-style:italic;}.quickedit-toolbar-label .field:after{content:" → ";}[dir="rtl"] .quickedit-toolbar-label .field:after{content:" ← ";}.quickedit-toolbar{font-family:"Droid sans","Lucida Grande",sans-serif;}.quickedit-toolbar-entity{padding:0.1667em 0.2em;}.quickedit-toolbar-fullwidth{width:100%;}.quickedit-toolgroup.wysiwyg-floated{float:right;}[dir="rtl"] .quickedit-toolgroup.wysiwyg-floated{float:left;}.quickedit-toolgroup.wysiwyg-main{clear:both;width:100%;padding-left:0;}[dir="rtl"] .quickedit-toolgroup.wysiwyg-main{padding-right:0;padding-left:0;}.quickedit-button{display:inline-block;margin:0;padding:0.345em;cursor:pointer;-webkit-transition:opacity 0.1s ease;transition:opacity 0.1s ease;opacity:1;color:#5a5a5a;border:1px solid #d2d2d2;background-color:#e4e4e4;}.quickedit-button[aria-hidden="true"]{visibility:hidden;opacity:0;}.quickedit-button + .quickedit-button{margin-left:0.2em;}[dir="rtl"] .quickedit-button + .quickedit-button{margin-right:0.25em;margin-left:auto;}.quickedit-button:hover,.quickedit-button:active{color:#2e2e2e;border:1px solid #a0a0a0;background-color:#c8c8c8;}.quickedit-toolbar-container .quickedit-button.action-cancel{border:1px solid transparent;background-color:transparent;}.quickedit-button.action-save{color:white;border:1px solid transparent;background-color:#50a0e9;background-image:-webkit-linear-gradient(top,#50a0e9,#4481dc);background-image:linear-gradient(to bottom,#50a0e9,#4481dc);}.quickedit-button.action-save:hover,.quickedit-button.action-save:active{border:1px solid #a0a0a0;}.quickedit-button.action-saving,.quickedit-button.action-saving:hover,.quickedit-button.action-saving:active{color:#5a5a5a;border-color:#d2d2d2;background-color:#e4e4e4;background-image:none;}
.quickedit .icon{position:relative;min-width:2.5em;min-height:1em;}.quickedit .icon.icon-only{text-indent:-9999px;}.quickedit .icon.icon-end{padding-right:2.5em;}[dir="rtl"] .quickedit .icon.icon-end{padding-right:0;padding-left:2.5em;}.quickedit .icon:before{position:absolute;top:0;left:0;display:block;width:100%;height:100%;content:"";background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center center;}[dir="rtl"] .quickedit .icon:before{right:0;left:auto;}.quickedit .icon-end:before{right:0.5em;left:auto;width:18px;}[dir="rtl"] .quickedit .icon-end:before{right:auto;left:0.5em;}.quickedit button.icon{font-size:1em;}.quickedit .icon-pencil{margin-left:0.5em;padding-left:1.5em;}.quickedit .icon-close:before{top:10px;height:12px;background-image:url(/core/misc/icons/787878/ex.svg);}.quickedit .icon-close:hover:before,.quickedit .icon-close:active:before{background-image:url(/core/misc/icons/000000/ex.svg);}.quickedit .icon-throbber:before{background-image:url(/core/modules/quickedit/images/icon-throbber.gif);}.quickedit .icon-pencil:before{background-image:url(/core/misc/icons/5181c6/pencil.svg);background-position:left center;background-size:1.3em;}
.quickedit-toolbar-container > .quickedit-toolbar-content,.quickedit-toolbar-container > .quickedit-toolbar-lining{border-radius:4px;}.quickedit-button{border-radius:3px;}.quickedit-button.action-save,.quickedit-button.action-saving{margin-top:2px;color:#fff;border-color:#1e5c90;background-image:-webkit-linear-gradient(top,#007bc6,#0071b8);background-image:linear-gradient(to bottom,#007bc6,#0071b8);text-shadow:0 1px hsla(0,0%,0%,0.5);font-weight:700;-webkit-font-smoothing:antialiased;}.quickedit-button.action-save:hover,.quickedit-button.action-save:focus,.quickedit-button.action-saving:hover,.quickedit-button.action-saving:focus{color:#fff;border-color:#1e5c90;background-color:#2369a6;background-image:-webkit-linear-gradient(top,#0c97ed,#1f86c7);background-image:linear-gradient(to bottom,#0c97ed,#1f86c7);}.quickedit-button.action-save:hover,.quickedit-button.action-save:focus,.quickedit-button.action-saving:hover,.quickedit-button.action-saving:focus{box-shadow:0 1px 2px hsla(203,10%,10%,0.25);}.quickedit-button.action-save:active,.quickedit-button.action-saving:active{border-color:#144b78;background-image:-webkit-linear-gradient(top,#08639b,#0071b8);background-image:linear-gradient(to bottom,#08639b,#0071b8);box-shadow:inset 0 1px 3px hsla(0,0%,0%,0.2);}.quickedit .icon-close:before{top:8px;}
.paragraph--unpublished{background-color:#fff4f4;}
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;}.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0px,0px,0px);}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}.owl-carousel .owl-item{float:left;}.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer;}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}.grabbing{cursor:url(/modules/contrib/owlcarousel/lib/owl-carousel/grabbing.png) 8 8,move;}.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
.owl-theme .owl-controls{margin-top:10px;text-align:center;}.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;zoom:1;*display:inline;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#869791;filter:Alpha(Opacity=50);opacity:0.5;}.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none;}.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1;*display:inline;}.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:0.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791;}.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1;}.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}.owl-item.loading{min-height:150px;background:url(/modules/contrib/owlcarousel/lib/owl-carousel/AjaxLoader.gif) no-repeat center center}
.owl-origin{-webkit-perspective:1200px;-webkit-perspective-origin-x :50%;-webkit-perspective-origin-y :50%;-moz-perspective :1200px;-moz-perspective-origin-x :50%;-moz-perspective-origin-y :50%;perspective :1200px;}.owl-fade-out{z-index:10;-webkit-animation:fadeOut .7s both ease;-moz-animation:fadeOut .7s both ease;animation:fadeOut .7s both ease;}.owl-fade-in{-webkit-animation:fadeIn .7s both ease;-moz-animation:fadeIn .7s both ease;animation:fadeIn .7s both ease;}.owl-backSlide-out{-webkit-animation:backSlideOut 1s both ease;-moz-animation:backSlideOut 1s both ease;animation:backSlideOut 1s both ease;}.owl-backSlide-in{-webkit-animation:backSlideIn 1s both ease;-moz-animation:backSlideIn 1s both ease;animation:backSlideIn 1s both ease;}.owl-goDown-out{-webkit-animation:scaleToFade .7s ease both;-moz-animation:scaleToFade .7s ease both;animation:scaleToFade .7s ease both;}.owl-goDown-in{-webkit-animation:goDown .6s ease both;-moz-animation:goDown .6s ease both;animation:goDown .6s ease both;}.owl-fadeUp-in{-webkit-animation:scaleUpFrom .5s ease both;-moz-animation:scaleUpFrom .5s ease both;animation:scaleUpFrom .5s ease both;}.owl-fadeUp-out{-webkit-animation:scaleUpTo .5s ease both;-moz-animation:scaleUpTo .5s ease both;animation:scaleUpTo .5s ease both;}@-webkit-keyframes empty{0%{opacity:1}}@-moz-keyframes empty{0%{opacity:1}}@keyframes empty{0%{opacity:1}}@-webkit-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}@-moz-keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}@-webkit-keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}@-moz-keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}@keyframes fadeOut{0%{opacity:1;}100%{opacity:0;}}@-webkit-keyframes backSlideOut{25%{opacity:.5;-webkit-transform:translateZ(-500px);}75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%);}100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%);}}@-moz-keyframes backSlideOut{25%{opacity:.5;-moz-transform:translateZ(-500px);}75%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%);}100%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%);}}@keyframes backSlideOut{25%{opacity:.5;transform:translateZ(-500px);}75%{opacity:.5;transform:translateZ(-500px) translateX(-200%);}100%{opacity:.5;transform:translateZ(-500px) translateX(-200%);}}@-webkit-keyframes backSlideIn{0%,25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%);}75%{opacity:.5;-webkit-transform:translateZ(-500px);}100%{opacity:1;-webkit-transform:translateZ(0) translateX(0);}}@-moz-keyframes backSlideIn{0%,25%{opacity:.5;-moz-transform:translateZ(-500px) translateX(200%);}75%{opacity:.5;-moz-transform:translateZ(-500px);}100%{opacity:1;-moz-transform:translateZ(0) translateX(0);}}@keyframes backSlideIn{0%,25%{opacity:.5;transform:translateZ(-500px) translateX(200%);}75%{opacity:.5;transform:translateZ(-500px);}100%{opacity:1;transform:translateZ(0) translateX(0);}}@-webkit-keyframes scaleToFade{to{opacity:0;-webkit-transform:scale(.8);}}@-moz-keyframes scaleToFade{to{opacity:0;-moz-transform:scale(.8);}}@keyframes scaleToFade{to{opacity:0;transform:scale(.8);}}@-webkit-keyframes goDown{from{-webkit-transform:translateY(-100%);}}@-moz-keyframes goDown{from{-moz-transform:translateY(-100%);}}@keyframes goDown{from{transform:translateY(-100%);}}@-webkit-keyframes scaleUpFrom{from{opacity:0;-webkit-transform:scale(1.5);}}@-moz-keyframes scaleUpFrom{from{opacity:0;-moz-transform:scale(1.5);}}@keyframes scaleUpFrom{from{opacity:0;transform:scale(1.5);}}@-webkit-keyframes scaleUpTo{to{opacity:0;-webkit-transform:scale(1.5);}}@-moz-keyframes scaleUpTo{to{opacity:0;-moz-transform:scale(1.5);}}@keyframes scaleUpTo{to{opacity:0;transform:scale(1.5);}}
