.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.contextual-region{position:relative;}.contextual .trigger:focus{position:relative !important;}.contextual-links{display:none;}.contextual.open .contextual-links{display:block;}
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse;}.ui-helper-clearfix:after{clear:both;}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-front{z-index:100;}.ui-state-disabled{cursor:default !important;pointer-events:none;}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block;}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%;}
.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:0.1px;display:block;-ms-touch-action:none;touch-action:none;}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.quickedit-editable{position:relative;z-index:98;cursor:pointer;}.quickedit-editable:focus{outline:none;}.quickedit-editable.quickedit-highlighted{z-index:99;}.quickedit-validation-errors > .messages{margin-right:0;margin-left:0;}.quickedit-validation-errors > .messages > ul{margin:0;padding:0;list-style:none;}.quickedit-validation-errors{position:relative;z-index:300;}.quickedit-validation-errors .messages.error{position:absolute;top:6px;left:-5px;margin:0;border:none;}[dir="rtl"] .quickedit-validation-errors .messages.error{right:-5px;left:auto;}#quickedit_backstage{display:none;}.quickedit-form{position:absolute;z-index:300;max-width:35em;}.quickedit-form .placeholder{min-height:22px;}.quickedit-form .form-wrapper .form-wrapper{margin:inherit;}.quickedit-form .form-actions{display:none;}.quickedit-form input{max-width:100%;}.quickedit-toolbar-container{position:absolute;z-index:100;width:320px;max-width:320px;}.quickedit-toolbar-container > .quickedit-toolbar-pointer,.quickedit-toolbar-container > .quickedit-toolbar-lining{display:none;}.quickedit-form-container{position:relative;z-index:100;margin:0;padding:0;vertical-align:baseline;border:0;}.quickedit-toolgroup.ops{float:right;}[dir="rtl"] .quickedit-toolgroup.ops{float:left;}.quickedit-toolbar-label{overflow:hidden;}#quickedit-toolbar-fence{position:fixed;z-index:-1;top:0;right:0;bottom:0;left:0;}
.paragraph.paragraph--width--full>.paragraph__column,.paragraph.paragraph--width--medium>.paragraph__column,.paragraph.paragraph--width--narrow>.paragraph__column,.paragraph.paragraph--width--tiny>.paragraph__column,.paragraph.paragraph--width--wide>.paragraph__column,.paragraph>.paragraph__column{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.paragraph{display:table;margin-left:0;margin-right:0;table-layout:fixed;width:100%}.paragraph:after,.paragraph:before{content:" ";display:table;table-layout:fixed}.paragraph:after{clear:both}.paragraph>.paragraph__column{padding-bottom:30px}.paragraph--type--bp-carousel .paragraph:last-of-type>.paragraph__column,.paragraph--type--bp-columns .paragraph:last-of-type>.paragraph__column,.paragraph--type--bp-columns-three-uneven .paragraph:last-of-type>.paragraph__column,.paragraph--type--bp-columns-two-uneven .paragraph:last-of-type>.paragraph__column,.paragraph--type--bp-tabs .paragraph:last-of-type>.paragraph__column{padding-bottom:0}@media (min-width:768px){.paragraph>.paragraph__column{float:left;width:100%}.paragraph.paragraph--width--tiny>.paragraph__column{float:left;width:33.33333333%;margin-left:33.33333333%}.paragraph.paragraph--width--narrow>.paragraph__column{float:left;width:50%;margin-left:25%}.paragraph.paragraph--width--medium>.paragraph__column{float:left;width:66.66666667%;margin-left:16.66666667%}.paragraph.paragraph--width--wide>.paragraph__column{float:left;width:83.33333333%;margin-left:8.33333333%}.paragraph.paragraph--width--full>.paragraph__column{float:left;width:100%}}.paragraph .paragraph,.paragraph .paragraph .paragraph{margin-left:0;margin-right:0}.paragraph>.paragraph__column .paragraph>.paragraph__column,.paragraph>.paragraph__column .paragraph>.paragraph__column .paragraph>.paragraph__column{float:none;margin-left:0;padding-left:0;padding-right:0;width:auto}
.paragraph.paragraph--type--bp-columns-three-uneven>.paragraph__column,.paragraph.paragraph--type--bp-columns-two-uneven>.paragraph__column,.paragraph.paragraph--type--bp-columns>.paragraph__column{padding-left:0;padding-right:0}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--full>.paragraph__column,.paragraph--type--bp-columns__1col .paragraph.paragraph--width--medium>.paragraph__column,.paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow>.paragraph__column,.paragraph--type--bp-columns__1col .paragraph.paragraph--width--tiny>.paragraph__column,.paragraph--type--bp-columns__1col .paragraph.paragraph--width--wide>.paragraph__column,.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col,.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__3col,.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col,.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col,.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__1col{position:relative;min-height:1px;padding-left:15px;padding-right:15px}@media (min-width:768px){.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col{float:left;width:16.66666667%}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col{float:left;width:20%}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__4col{float:left;width:25%}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__3col{float:left;width:33.33333333%}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__2col{float:left;width:50%}.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__1col{float:left;width:100%}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--tiny>.paragraph__column{float:left;width:33.33333333%;margin-left:33.33333333%}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow>.paragraph__column{float:left;width:50%;margin-left:25%}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--medium>.paragraph__column{float:left;width:66.66666667%;margin-left:16.66666667%}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--wide>.paragraph__column{float:left;width:83.33333333%;margin-left:8.33333333%}.paragraph--type--bp-columns__1col .paragraph.paragraph--width--full>.paragraph__column{float:left;width:100%}}
.paragraph.paragraph--color>.paragraph__column{padding-top:30px;padding-bottom:30px}.paragraph.paragraph--color+.paragraph>.paragraph__column{padding-top:30px}.paragraph--color--rgba-blue-light{background:rgba(3,169,244,.3)}.paragraph--color--rgba-red-light{background:rgba(244,67,54,.3)}.paragraph--color--rgba-pink-light{background:rgba(233,30,99,.3)}.paragraph--color--rgba-purple-light{background:rgba(156,39,176,.3)}.paragraph--color--rgba-indigo-light{background:rgba(63,81,181,.3)}.paragraph--color--rgba-cyan-light{background:rgba(0,188,212,.3)}.paragraph--color--rgba-teal-light{background:rgba(0,150,136,.3)}.paragraph--color--rgba-green-light{background:rgba(76,175,80,.3)}.paragraph--color--rgba-lime-light{background:rgba(205,220,57,.3)}.paragraph--color--rgba-yellow-light{background:rgba(255,235,59,.3)}.paragraph--color--rgba-orange-light{background:rgba(255,152,0,.3)}.paragraph--color--rgba-brown-light{background:rgba(121,85,72,.3)}.paragraph--color--rgba-grey-light{background:rgba(158,158,158,.3)}.paragraph--color--rgba-bluegrey-light{background:rgba(96,125,139,.3)}.paragraph--color--rgba-black-light{background:rgba(0,0,0,.3)}.paragraph--color--rgba-stylish-light{background:rgba(62,69,81,.3)}.paragraph--color--rgba-white-light{background:rgba(255,255,255,.3)}.paragraph--color--rgba-blue-strong{background:rgba(3,169,244,.7)}.paragraph--color--rgba-red-strong{background:rgba(244,67,54,.7)}.paragraph--color--rgba-pink-strong{background:rgba(233,30,99,.7)}.paragraph--color--rgba-purple-strong{background:rgba(156,39,176,.7)}.paragraph--color--rgba-indigo-strong{background:rgba(63,81,181,.7)}.paragraph--color--rgba-cyan-strong{background:rgba(0,188,212,.7)}.paragraph--color--rgba-teal-strong{background:rgba(0,150,136,.7)}.paragraph--color--rgba-green-strong{background:rgba(76,175,80,.7)}.paragraph--color--rgba-lime-strong{background:rgba(205,220,57,.7)}.paragraph--color--rgba-yellow-strong{background:rgba(255,235,59,.7)}.paragraph--color--rgba-orange-strong{background:rgba(255,152,0,.7)}.paragraph--color--rgba-brown-strong{background:rgba(121,85,72,.7)}.paragraph--color--rgba-grey-strong{background:rgba(158,158,158,.7)}.paragraph--color--rgba-bluegrey-strong{background:rgba(96,125,139,.7)}.paragraph--color--rgba-black-strong{background:rgba(0,0,0,.7)}.paragraph--color--rgba-stylish-strong{background:rgba(62,69,81,.7)}.paragraph--color--rgba-white-strong{background:rgba(255,255,255,.7)}.paragraph--color--rgba-blue-slight{background:rgba(3,169,244,.1)}.paragraph--color--rgba-red-slight{background:rgba(244,67,54,.1)}.paragraph--color--rgba-pink-slight{background:rgba(233,30,99,.1)}.paragraph--color--rgba-purple-slight{background:rgba(156,39,176,.1)}.paragraph--color--rgba-indigo-slight{background:rgba(63,81,181,.1)}.paragraph--color--rgba-cyan-slight{background:rgba(0,188,212,.1)}.paragraph--color--rgba-teal-slight{background:rgba(0,150,136,.1)}.paragraph--color--rgba-green-slight{background:rgba(76,175,80,.1)}.paragraph--color--rgba-lime-slight{background:rgba(205,220,57,.1)}.paragraph--color--rgba-yellow-slight{background:rgba(255,235,59,.1)}.paragraph--color--rgba-orange-slight{background:rgba(255,152,0,.1)}.paragraph--color--rgba-brown-slight{background:rgba(121,85,72,.1)}.paragraph--color--rgba-grey-slight{background:rgba(158,158,158,.1)}.paragraph--color--rgba-bluegrey-slight{background:rgba(96,125,139,.1)}.paragraph--color--rgba-black-slight{background:rgba(0,0,0,.1)}.paragraph--color--rgba-stylish-slight{background:rgba(62,69,81,.1)}.paragraph--color--rgba-white-slight{background:rgba(255,255,255,.1)}.paragraph--color--danger,.paragraph--color--info,.paragraph--color--primary,.paragraph--color--secondary,.paragraph--color--success,.paragraph--color--transparent,.paragraph--color--warning{background:0 0}
